<ion-pane ng-controller="AppCtrl">
  <ion-header-bar id="header" class="bar bar-assertive">
    <a ng-href="#/category/{{joke.cat_id}}" onclick="prepareInterstitial();" class="button ion-chevron-left icon-left">{{ catBack }}</a>
    <h1 class="title title-center">{{ catName }}</h1>
    <a href="#/about" class="others"><img src="img/question-funny.png" alt="" width="40" height="40" /></a>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div id="detail" class="list card">
      <div class="item item-avatar item-head">
        <img src="img/funny-detail-smiley.png" alt="" />
	      <h2 class="detail-title">{{ joke.title }}</h2>
  	  </div>
	  	
	  	<div class="item item-body">
		    <p ng-bind-html="content2">
		     {{ joke.content }}
		    </p>
		  </div>
		</div>
  </ion-content>

  <div id="footer" class="bar bar-footer">
    <div class="pagination">  
      <a class="button btn-left icon-left ion-chevron-left button-calm" ui-sref='detail({index: prevItem })'>Previous</a>
      <a class="button btn-right icon-right ion-chevron-right button-calm" ui-sref='detail({index: nextItem })'>Next</a>
    </div>
  </div>
</ion-pane>