<ion-pane ng-controller="AppCtrl">
  <ion-header-bar id="header" class="bar bar-assertive">
    <a ng-href="#/main" class="button icon-left ion-home"></a>
    <h1 class="title title-center">{{ appName }}</h1>
    <a href="#/about" class="others"><img src="img/question-funny.png" alt="" width="40" height="40" /></a>
  </ion-header-bar>
  <ion-content>
    <ion-nav-view></ion-nav-view>
    <ion-list>
	    <div class="card" ng-repeat="cat in jokecats" onclick="prepareInterstitial();" ui-sref='category({index: cat.id})'>
        <div class="item item-text-wrap">
	    			<h2>{{ cat.title }}</h2>
	    	</div>
	    <div>
    </ion-list>
  </ion-content>
</ion-pane>
